<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>ApiKeyServlet</servlet-name>
        <servlet-class>be.condorcet.demo.ApiKeyServlet</servlet-class>

        <init-param>
            <param-name>apiKey</param-name>
            <param-value>SECRET_KEY1</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ApiKeyServlet</servlet-name>
        <url-pattern>/test-api</url-pattern>
    </servlet-mapping>


</web-app>